
ul { list-style: none; padding: 0; }
 html, body {
      background:  #222;
      color: #fff;
      min-height: 100vh;
      font-family:Times New Roman , sans-serif;

    }
        table {
    border-collapse: collapse;
    width: 100%;
    font-family: Times New Roman, sans-serif;
}
th, td {
    padding: 0.5em;
    text-align: left;
    font-family: Times New Roman, sans-serif;
}