<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>VM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
     <style>.modal { display:none;}</style>
</head>
<body>
   <script src="{{ url_for('static', filename='vm.js') }}"></script>
    <h1>VM {{ vm['ip'] }}</h1>
    <table id="vm-table">
        <tbody>
            <tr>
                <td>name: {{ vm['name'] }}</td>
                <td>status: {{ vm['status'] }}</td>
                <td>category: {{ vm['category'] }}</td>
                <td>monitoring time: {{ vm['monitoring'] }}</td>
            </tr>
        </tbody>
    </table>
   <table id="proc-table" style="display:none;">
        <thead>
            <tr>
                <th>name</th>
                <th>version</th>
                <th>monitoring period</th>
                <th>logs path</th>
                <th colspan="3">actions</th>
            </tr>
        </thead>
        <tbody>

            {% for proc in proclist %}
                <tr>
                    <td>{{ proc['name'] }}</td>
                    <td>{{ proc['version'] }}</td>
                    <td>{{ proc['monitoring_period'] }}</td>
                    <td>{{ proc['logs_path'] }}</td>
                    <td> <button onclick='editRow({{ proc|tojson|safe }}, "{{ vm["ip"] }}")'>Edit</button></td>
                    <td>  <button onclick="deleteRow('{{ vm['ip'] }}', '{{ proc['name'] }}')">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>

                <td><button id="add_processBtn" onclick="add_proc_to_monitoring('{{ vm['ip'] }}')">ADD PROCESS</button></td>
                <table  id="add-proc" style="display:none;">  <tbody></tbody></table>
                <table id="proc-data-table">  <tbody> </tbody> </table>
       </table>
      <table>
           <tr><td><button id="show_processBtn">PROCESS</button></td></tr>
           <tr><td><button id="monitoringBtn" onclick="monitoring_vm('{{ vm['ip'] }}')">MONITORING</button></td></tr>
           <tr><td><button id="logsBtn" >LOGS</button></td></tr>
       </table>
      <table id="proc-table2" style="display:none;">
        <thead>
            <tr>
                <th>name</th>
                <th>version</th>
                <th>monitoring period</th>
                <th>logs path</th>
                <th colspan="3">actions</th>
            </tr>
        </thead>
       <tbody>
            {% for proc in proclist %}
                <tr>
                    <td>{{ proc['name'] }}</td>
                    <td>{{ proc['version'] }}</td>
                    <td>{{ proc['monitoring_period'] }}</td>
                    <td>{{ proc['logs_path'] }}</td>
                    <td>
                        <button  onclick="get_last_logs('{{ vm['ip'] }}',  '{{ proc['logs_path'] }}')">SHOW LAST LOGS</button>
                    </td>
                    <td>

 <button onclick="document.getElementById('myModal2').style.display='flex'">GET ALL LOGS</button>
                       <div id="myModal2" class="modal" display="none">
  <div class="modal-content" >

     <input id="localDir" type="text" placeholder="local dir">
<button onclick="get_all_logs('{{ vm['ip'] }}', '{{ proc['logs_path'] }}', document.getElementById('localDir').value)">
    GET ALL LOGS IN ZIP
</button>
        <button onclick="document.getElementById('myModal2').style.display='none'">Cancel</button>
  </div>

</div>


                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
   <table id="last_log" >
        <tbody>
        </tbody>
   </table>

    <div id="status-bar" style="position:fixed;bottom:0;left:0;width:100%;background:#222;color:#fff;padding:10px;">waiting</div>

</body>

    <script>

        const show_processBtn = document.getElementById('show_processBtn');
        const procTable = document.querySelector('#proc-table');
        let collapsedProcTable = false;
        show_processBtn.addEventListener('click', function () {
            collapsedProcTable = !collapsedProcTable;
            procTable.style.display = collapsedProcTable ? 'none' : '';
            show_processBtn.textContent = collapsedProcTable ? 'SHOW PROCESSES' : 'HIDE PROCESSES';
        })


        const add_processBtn = document.getElementById('add_processBtn');
        const add_procTable = document.querySelector('#add-proc');
        let collapsedAddProcTable = false;
        add_processBtn.addEventListener('click', function () {
            collapsedAddProcTable = !collapsedAddProcTable;
            add_procTable.style.display = collapsedAddProcTable ? 'none' : '';
            add_processBtn.textContent = collapsedAddProcTable ? 'ADD PROCESS' : 'Hide ADD PROCESS';
        })

        const monitoringBtn = document.getElementById('monitoringBtn');
        const table = document.getElementById('proc-data-table');
        let collapsed = false;
        monitoringBtn.addEventListener('click', function () {
            collapsed = !collapsed;
            table.style.display = collapsed ? 'none' : '';
            monitoringBtn.textContent = collapsed ? 'Show Monitoring' : 'Hide Monitoring';
        })

        const logsBtn = document.getElementById('logsBtn');
        const logsTable = document.getElementById('proc-table2');
        let logsTableHidden = true;
        logsBtn.addEventListener('click', function () {
            logsTableHidden = !logsTableHidden;
            logsTable.style.display = logsTableHidden ? 'none' : '';
            logsBtn.textContent = logsTableHidden ? 'LOGS' : 'HIDE LOGS';
        });


        const evt = new EventSource('/stream');
        evt.onmessage = function(e){
           document.getElementById('status-bar').textContent = e.data;
        }
    </script>
</html>